<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
      <a class="sidebar-brand brand-logo" [href]="url" target="_blank" ><img src="../../assets/img/Attendsify-1 (1).png" style="height: 70px;width: 300px;" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini pl-4 pt-3" [href]="url" target="_blank"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <br><br>

    <ul class="nav">
      <li class="nav-item nav-profile">
        <a routerLink="/profile" class="nav-link">
        
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile" />
            <span class="login-status online"></span>
           
          </div>
          <div class="nav-profile-text d-flex flex-column pr-3 teacher-name" >
            <span class="font-weight-medium mb-2" >{{user.fullname}}</span>
            <span class="font-weight-normal" >{{user.email}}</span>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngIf="user.role==='teacher'">
        <a class="nav-link" routerLink="/students">
          <i class="mdi mdi-account-multiple-outline menu-icon"></i>
          <span class="menu-title" >Students</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="user.role==='teacher'">
        <a class="nav-link" routerLink="/classes">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title" >Class</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="user.role==='teacher'">
        <a class="nav-link" routerLink="/take-attendence">
          <i class="mdi mdi-table-large menu-icon"></i>
          <span class="menu-title" >Take Attendence</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="user.role==='teacher'">
        <a class="nav-link" routerLink="/attendence-records">
          <i class="mdi mdi-table-large menu-icon"></i>
          <span class="menu-title" >Attendence Records</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="user.role==='student'">
        <a class="nav-link" routerLink="/give-attendence">
          <i class="mdi mdi-table-large menu-icon"></i>
          <span class="menu-title" >Give Attendence</span>
        </a>
      </li>
      <!-- <li class="nav-item" *ngIf="user.role==='teacher'">
        <a class="nav-link" routerLink="/premium">
          <i class="mdi mdi-professional-hexagon menu-icon"></i>
          <span class="menu-title">Premium Features</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"  routerLink="/profile">
          <i class="mdi mdi-face menu-icon"></i>
          <span class="menu-title" >Profile</span>
        </a>
      </li>
      
      
      <li class="nav-item sidebar-actions">
        <div class="nav-link">
          <div class="mt-4">
            
            <ul class="mt-4 pl-0">
              <li style="color: white;" (click)="signOut()" >Sign Out</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  