
<!-- <button (click)="payment()">Pay</button> -->
<div class="container-scroller" style="min-height: 100vh;">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
     <app-navbar1></app-navbar1>
      
      <div class="row" style="padding: 50px;">
        <h1 style="color: black;" class="mt-5">Subscription deals & Offers</h1>
    
        <p style="font-size: 18px;letter-spacing: 1.5px;">After buying the Subscription you will get access some extra features you will be able to view & edit students profile </p>
       
        <div class="verticals four col-md-4">
          <div class="dealwrapper purple">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">Hot Deals</div>
            </div>
            <div class="list-group">
              <a  class="list-group-item" style="cursor: auto;">
                <h4 class="heading">1-Month Subscription</h4>
                <p class="text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
              </a>
              
              <a class="list-group-item active" style="cursor: auto;">
                <p style="text-align: center;">Rs.400</p>
              </a>
              
              <div class="list-group-item" style="cursor: auto;text-align: center;">
                <button class="btn btn-success" (click)="payment(40000)">Pay Now</button>
              </div>
            </div>
          </div>​
        </div>
        
        <div class="verticals four col-md-4">
          <div class="dealwrapper red">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">Trending</div>
            </div>
            <div class="list-group">
              <a  class="list-group-item" style="cursor: auto;">
                <h4 class="heading">6-Month Subscription</h4>
                <p class="text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
              </a>
              
              <a class="list-group-item active" style="cursor: auto;">
                <p style="text-align: center;">Rs.900</p>
              </a>
              
              <div class="list-group-item" style="cursor: auto;text-align: center;">
                <button class="btn btn-success" (click)="payment(90000)">Pay Now</button>
              </div>
            </div>
          </div>​
        </div>
        
        <div class="verticals four col-md-4">
          <div class="dealwrapper blue">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">Hot Deals</div>
            </div>
            <div class="list-group">
              <a  class="list-group-item" style="cursor: auto;">
                <h4 class="heading">12-Month Subscription</h4>
                <p class="text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
              </a>
              
              <a class="list-group-item active" style="cursor: auto;">
                <p style="text-align: center;">Rs.1200</p>
              </a>
              
              <div class="list-group-item" style="cursor: auto;text-align: center;">
                <button class="btn btn-success" (click)="payment(120000)">Pay Now</button>
              </div>
            </div>
          </div>​
        </div>
      </div>
      ​
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>


  <!-- Attend today, and achieve tomorrow -->